@font-face {
  font-family: 'Gruppo';
  src: url('../media/font/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../media/font/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(53, 58, 129);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(74, 41, 100);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a1130;
}

h1 {
  font-family: 'Gruppo', sans-serif;
  font-size: 72px;
}

h2 {
  font-family: 'Gruppo', sans-serif;
  font-size: 48px;
}

h3,
.navbar,
.btn {
  font-family: 'Gruppo', sans-serif;
  font-size: 36px;
}

.nav-link {
  font-family: 'Gruppo', sans-serif;
  font-size: xx-large;
  text-shadow:
    -1px -1px 0 #bbbbbb,
    1px -1px 0 #bbbbbb,
    -1px 1px 0 #bbbbbb,
    1px 1px 0 #bbbbbb;

}

p,
li,
ul,
table {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
}

.navbar {
  position: relative;
  height: 100px;
  overflow: hidden;
}

#banner-logo {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transform: scale(1.1);
  filter: blur(var(--blur-amount, 0px));
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 1;
  pointer-events: none;
  max-width: 1416px;
}