@font-face {
  font-family: 'Gruppo';
  src: url('../media/font/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../media/font/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item .nav-link {
    background-color: rgb(152, 204, 200);
    color: var(--nav-link-color-mobile, #fff);
  }

  .navbar-nav .nav-item .nav-link:hover {
    background-color: rgb(112, 156, 153);
  }

  .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0);
    border: none;
    z-index: 32;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(53, 58, 129);
}

::-webkit-scrollbar-thumb {
  background: rgb(74, 41, 100);
}

::-webkit-scrollbar-thumb:hover {
  background: #2a1130;
}

h1 {
  font-family: 'Gruppo', sans-serif;
  font-size: 72px;
}

h2 {
  font-family: 'Gruppo', sans-serif;
  font-size: 48px;
}

h3,
.navbar,
.btn {
  font-family: 'Gruppo', sans-serif;
  font-size: 36px;
}

.nav-link {
  font-family: 'Gruppo', sans-serif;
  font-size: xx-large;
}

a {
  text-decoration: none;
}

p,
li,
ul,
table {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
}

blockquote {
  background-color: rgba(183, 240, 227, 0.75);
  border-left: 5px solid;
  padding-left: 5px;
  border-left-color: #12615a;
  border-radius: 3px;
}


.navbar {
  background-color: transparent;
  position: relative;
  height: 100px;
}

.banner-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#banner-background {
  position: absolute;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  overflow: hidden;
  filter: blur(var(--blur-amount, 0px));
}

.navbar-toggler {
  margin-bottom: 50px;
  margin-right: 10px;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
  max-width: 1416px;
}

.md-responsive-list-table {
  padding: 0.25rem;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1.5rem;

}

.md-responsive-list-table th,
.md-responsive-list-table td {
  padding: 0.25rem 0.25rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.md-responsive-list-table tr {
  align-items: center;
}

.notfound img {
  width: 100vw; /* Sets the image width to 100% of the viewport width */
  height: 100vh; /* Sets the image height to 100% of the viewport height */
}


@media (max-width: 768px) {

  .md-responsive-list-table,
  .md-responsive-list-table tbody,
  .md-responsive-list-table tr,
  .md-responsive-list-table td {
    display: block;
    width: 100%;
  }
}