:root.dark {
  --gspn-text-main: white;
  --gspn-bg-main: #1b1820;
  --gspn-anchor-link: #00c3ff;

  --gspn-primary-light: #3d6e66;
  --gspn-primary-dark: #79b9b3;

  --gspn-secondary-light: #493a5e;
  --gspn-secondary-medium: #4a3181;
  --gspn-secondary-dark: #9382bb;

  --gspn-blockquote-bg-2: #93862a;
  --gspn-blockquote-border-2: #e2c94c;

  --gspn-blockquote-bg-3: #7a4e4e;
  --gspn-blockquote-border-3: #c7a9a9;

  --gspn-nav-mobile-bg: rgb(60, 110, 108);
  --gspn-nav-mobile-bg-hover: rgb(82, 140, 137);
}

:root {
  --gspn-bg-popover: #79b9b28e;
  --gspn-anchor-link: #1789ff;
  /* Scrollbar */
  --gspn-scrollbar-track: rgb(53, 58, 129);
  --gspn-scrollbar-thumb: rgb(74, 41, 100);
  --gspn-scrollbar-thumb-hover: #2a1130;

  /* Headings underline */
  --gspn-heading-underline: #3a887e;

  /* Nav link */
  --gspn-nav-shadow: rgba(165, 160, 170, 0.5);
  --gspn-nav-shadow-hover: rgba(127, 101, 153, 0.5);
  --gspn-nav-link-hover: rgb(65, 47, 73);

  --gspn-text-main: black;
  --gspn-bg-main: white;

  --gspn-primary-light: #b7f0e0;
  --gspn-primary-dark: #12615a;

  --gspn-secondary-light: #6a5584;
  --gspn-secondary-medium: #473245;
  --gspn-secondary-dark: #372e49;

  --gspn-blockquote-bg-2: #fffd70;
  --gspn-blockquote-border-2: #b19310;

  --gspn-blockquote-bg-3: #b17373;
  --gspn-blockquote-border-3: #463a3a;

  --gspn-nav-mobile-bg: rgb(152, 204, 200);
  --gspn-nav-mobile-bg-hover: rgb(112, 156, 153);
}



@font-face {
  font-family: 'Gruppo';
  src: url('../media/font/Gruppo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../media/font/Quicksand-VariableFont_wght.ttf') format('truetype');
}


body {
  background-image: url(../media/banner/background02.jpg);
}

main {
  background-color: white;
}

/* Bootstrap overrride */
.row>* {
  padding-right: calc(var(--bs-gutter-x) * 2);
  padding-left: calc(var(--bs-gutter-x) * 2);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(53, 58, 129);
}

::-webkit-scrollbar-thumb {
  background: var(--gspn-secondary-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gspn-secondary-dark);
}

h1 {
  font-family: 'Gruppo', sans-serif;
  font-size: 72px;
  line-height: 1;
}

h2 {
  font-family: 'Gruppo', sans-serif;
  font-size: 48px;
}

h3,
.navbar,
.btn {
  font-family: 'Gruppo', sans-serif;
  font-size: 36px;
}

h4,
.navbar,
.btn {
  font-family: 'Gruppo', sans-serif;
  font-size: 24px;
}

h1::after,
h2::after,
h3::after,
h4::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--gspn-heading-underline);
  opacity: 1;
}

h1::after {
  width: 100%;
}

h2::after {
  width: 75%;
  opacity: .8;
}

h3::after {
  width: 50%;
  opacity: .5;
}

h4::after {
  width: 50%;
  opacity: .5;
}


.nav-link {
  font-family: 'Gruppo', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  filter:
    drop-shadow(1px 0 0 var(--gspn-nav-shadow)) drop-shadow(0 1px 0 var(--gspn-nav-shadow)) drop-shadow(-1px 0 0 var(--gspn-nav-shadow)) drop-shadow(0 -1px 0 var(--gspn-nav-shadow));
}

.nav-link:hover {
  color: var(--gspn-nav-link-hover);
  filter:
    drop-shadow(1px 0 0 var(--gspn-nav-shadow-hover)) drop-shadow(0 1px 0 var(--gspn-nav-shadow-hover)) drop-shadow(-1px 0 0 var(--gspn-nav-shadow-hover)) drop-shadow(0 -1px 0 var(--gspn-nav-shadow-hover));
}

a {
  text-decoration: none;
  color: var(--gspn-anchor-link);
}

p,
li,
ul,
table {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
}

blockquote {
  background-color: var(--gspn-primary-light);
  border-left: 5px solid;
  padding-left: 5px;
  border-left-color: var(--gspn-primary-dark);
  border-radius: 3px;
  padding-block: 4px;
}


blockquote:has(blockquote) {
  background-color: unset;
  border-left: 0px;
  padding-left: 0px;
  border-radius: 0px;
  border-left-color: unset;
  padding-block: 0px;

}

blockquote blockquote {
  background-color: var(--gspn-blockquote-bg-2);
  border-left: 5px solid;
  padding-left: 5px;
  border-left-color: var(--gspn-blockquote-border-2);
  border-radius: 3px;
  padding-block: 4px;

}

blockquote blockquote:has(blockquote) {
  background-color: unset;
  border-left: 0px;
  padding-left: 0px;
  border-radius: 0px;
  border-left-color: unset;
  padding-block: 0px;

}

blockquote blockquote blockquote {
  background-color: var(--gspn-blockquote-bg-3);
  border-left: 5px solid;
  padding-left: 5px;
  border-left-color: var(--gspn-blockquote-border-3);
  border-radius: 3px;
  padding-block: 4px;
}

blockquote blockquote blockquote:has(blockquote) {
  background-color: unset;
  border-left: 0px;
  padding-left: 0px;
  border-radius: 0px;
  border-left-color: unset;
  padding-block: 0px;

}

blockquote blockquote blockquote blockquote {
  color: white;
  background-color: var(--gspn-secondary-light);
  border-left: 5px solid;
  padding-left: 5px;
  border-left-color: var(--gspn-secondary-dark);
  border-radius: 3px;
  padding-block: 4px;
}


.navbar {
  background-color: transparent;
  position: relative;
  height: 100px;
}


.banner-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#banner-background {
  position: absolute;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  overflow: hidden;
}

.navbar-toggler {
  margin-bottom: 50px;
  margin-right: 10px;
}

main {
  min-height: 100vh;
  background-color: var(--gspn-bg-main);
  color: var(--gspn-text-main);
}

/* All markdown images that has a href that contains "fw_" (full width) */
#markdown-content img[src*="/fw_"] {
  width: 100%;
}

/* All markdown images that has a href that contains "mw_" (medium width) */
#markdown-content img[src*="/mw_"] {
  width: 50%;
}

.overlay-image {
  max-height: 100px;
  max-width: 70vw;
  filter:
    drop-shadow(1px 0 0 var(--gspn-nav-shadow)) drop-shadow(0 1px 0 var(--gspn-nav-shadow)) drop-shadow(-1px 0 0 var(--gspn-nav-shadow)) drop-shadow(0 -1px 0 var(--gspn-nav-shadow));
}

footer {
  position: relative;
  overflow: hidden;
  height: 200px;
  transition: height 0.8s ease-in-out;
  cursor: pointer;
}

footer.expanded {
  height: 90vh;
}

.footer-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

#footer-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  filter: blur(4px);
  z-index: 0;
  transition: transform 0.8s ease-in-out, filter 0.8s ease-in-out;
}

footer p {
  position: relative;
  z-index: 2;
  transition: opacity 0.5s ease;
}

footer.expanded p {
  opacity: 0;
}

footer.expanded #footer-background {
  filter: blur(0px);
}

.md-responsive-list-table {
  padding: 0.25rem;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1.5rem;

}

.md-responsive-list-table th,
.md-responsive-list-table td {
  padding: 0.25rem 0.25rem !important;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  border: unset;
}

.md-responsive-list-table table,
.md-responsive-list-table table th:hover,
.md-responsive-list-table table td:hover {
  background-color: transparent !important;
}

.md-responsive-list-table tr {
  align-items: center;
}

.notfound img {
  width: 100vw;
  height: 100vh;
}

details.noarrow summary::marker {
  content: none;
}

details.noarrow summary::-webkit-details-marker {
  display: none;
}

details.noarrow summary {
  opacity: 50%;
  list-style: none;
  cursor: pointer;

}

.popover-button {
  width: 250px;
}

.popover-button img {
  width: 100%;
}

[popover] {
  padding: 50px;
  max-width: 56rem;
  max-height: 80vh;
  overflow: auto;
  padding: 1rem;
}

[popover]::backdrop {
  backdrop-filter: blur(4px);
  background-color: var(--gspn-bg-popover);
}

[popover]::backdrop {
  pointer-events: all;
  backdrop-filter: blur(4px);
}

body:has([popover]:popover-open) {
  pointer-events: none;
}

[popover]:popover-open {
  pointer-events: auto;
}

div[popover] img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

td {
  padding: 6px 10px;
  border: 2px solid var(--gspn-primary-dark);
}

th {
  padding: 6px 10px;
  color: white;
  background: linear-gradient(to bottom, #1b7a70, #12615a);
  border: 2px solid var(--gspn-primary-dark);
  font-weight: 600;
  letter-spacing: 0.5px;
}

pre {
  background-color: var(--gspn-secondary-medium);
  color: white;
  border: var(--gspn-primary-dark) 1px solid;
  border-radius: 3px;
  padding: 8px;
}

/* Dark mode button */
details#darkmode-button {
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.75)
}

details#darkmode-button summary::after {
  content: "💡";
}

details[open]#darkmode-button summary::after {
  content: "🌙";
}

details#darkmode-button summary::marker {
  content: none;
}

details#darkmode-button summary::-webkit-details-marker {
  display: none;
}


@media (max-width: 991.98px) {
  .navbar-nav .nav-item .nav-link {
    background-color: var(--nav-mobile-bg);
    color: var(--nav-link-color-mobile, #fff);
  }

  .navbar-nav .nav-item .nav-link:hover {
    background-color: var(--nav-mobile-bg-hover);
  }

  .navbar-nav .dropdown-menu {
    background-color: black;
    border: none;
  }

  .overlay-image {
    max-width: 40vw;
  }

  #markdown-content img[src*="/mw_"] {
    width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
    font-weight: bolder;
  }

  h4 {
    font-size: 20px;
    font-weight: bolder;
  }

  h5 {
    font-size: 18px;
    font-weight: bolder;
  }

  h6 {
    font-size: 16px;
    font-weight: bolder;
  }

  img {
    max-width: 100%;
  }

  .popover-button {
    width: 125px;
  }

  [popover] {
    max-width: 90%;
  }

}

@media (max-width: 768px) {

  .md-responsive-list-table,
  .md-responsive-list-table tbody,
  .md-responsive-list-table tr,
  .md-responsive-list-table td {
    border: unset;
    padding: unset;
    display: block;
    width: 100%;
  }
}